head {
  background-color: black;
  text-align: center;
}

body {
  background-color: black;
  text-align: center;
}

p {
  font-family:verdana;
}
#subheading {
  color: aquamarine;
  font-size: 16px;
}

#title1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

#title2 {
  font-weight: 300px;
  font-size: 42px;
  color: white;
}
